/* HD Layout: 1920px. */
@media only screen and (min-width: 1601px) and (max-width: 2200px) {
    .slick-center .single-slider-text p {
        font-size: 28px;
        font-weight: 300;
    }
    .hex-3 {
        width: 60%;
    }
    .hero__title .slick-slide.slick-center .hex-3 {
        width: 80%;
    }
    .hero__title .slick-list.draggable {
        height: 1037px !important;
        padding: 0 !important;
        margin-top: -155px !important;
    }
    .hero-image {
        margin: 20px 0;
        position: relative;
    }
}

/* Laptop with HDPI: 1440px */
@media only screen and (min-width: 1400px) and (max-width: 1600px) {

}

/* Laptop with MDPI: 1280px */
@media only screen and (min-width: 1201px) and (max-width: 1300px) {

}

/* Medium Layout(iPad Pro): 1024px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .secondary-menu ul li a {
        padding-left: 35px;
    }
    
    .corner-area.top-left {
        left: 5.8%;
    }
    .corner-area.middle-left {
        top: 34%;
        left: -4%;
    }
    .corner-area.bottom-left {
        top: 83.3%;
        left: 5.8%;
    }
    .corner-area.top-right {
        right: 5.8%;
    }
    .corner-area.middle-right {
        top: 34%;
        right: -4%;
    }
    .corner-area.bottom-right {
        top: 83.3%;
        right: 5.8%;
    }
    .social-icon a:nth-child(4n) {
        margin-right: 0;
    }
    .product-tab ul li a {
        padding: 10px;
    }
    .certificate-carousel {
        height: 230px;
    }
    .hero__title .slick-list.draggable {
        height: 673px !important;
        margin-top: -95px !important;
    }

}


/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pc-responsive {
        display: none;
    }
    .mobile-responsive{
        display: block;
    }
    .mobile-header-area {
        display: block;
        background: #fff;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    .header-area {
        display: none;
    }
    
    .menu-trigger {
        display: inline-block;
        padding: 30px 0;
        cursor: pointer;
    }
    .logo.mobile-logo a {
        padding: 15px 0px;
    }
    .mobile-telephone-btn {
        display: inline-block;
        padding: 17px 0;
    }
    .certificate-carousel {
        overflow: hidden;
        padding-bottom: 60px;
    }
    .faq-tab ul li a {
        margin-bottom: 15px;
    }
    .faq-tab ul li:last-child a {
        margin-bottom: 50px;
    }
    .product-tab {
        margin-bottom: 0;
        margin-top: 50px;
    }
    .product-tab ul li {
        display: block;
    }
    .product-tab ul li a {
        padding: 10px 20px;
        margin-top: 10px;
        display: inline-block;
    }
    .social-icon a:nth-child(4n) {
        margin-right: 0;
    }
    /* .single-slide-row-inner {
        display: block;
    }
    .single-slide-row-inner .text-right {
        text-align: center;
        margin-bottom: 25px;
    }
    .buy-btn {
        display: none;
    }
    .slick-prev.slick-arrow, .slick-next.slick-arrow {
        right: auto;
        left: 50%;
        margin-left: -50px;
    }
    .single-slide-row {
        display: block !important;
        margin: 2px auto;
    }
    .homepage-inner-tablecell {
        padding-top: 0;
    }
    .hex-3 {
        width: 50%;
    } */
    .hero__title .slick-list.draggable {
        height: 524px !important;
        margin-top: -40px !important;
    }
    .hero__title .slick-center .single-slider-text p {
        font-size: 20px;
    }
    .buy-btn {
        font-size: 12px;
    }
    .hero-image-text {
        font-size: 10px;
    }
    .hero__title .slick-center .hero-image-text {
        font-size: 12px;
        bottom: 14%;
    }

}


/* Mobile Layout: 375px. */

@media only screen and (max-width: 767px) {
    .faq-tab ul li a {
        margin-bottom: 15px;
    }
    .faq-tab ul li:last-child a {
        margin-bottom: 50px;
    }
    .product-tab {
        margin-bottom: 0;
        margin-top: 50px;
    }
    .product-tab ul li {
        display: block;
    }
    .product-tab ul li a {
        padding: 10px 20px;
        margin-top: 10px;
        display: inline-block;
    }
    .mobile-telephone-btn {
        display: inline-block;
        padding: 17px 0;
    }

    .pc-responsive {
        display: none;
    }
    .mobile-responsive{
        display: block;
    }
    .mobile-header-area {
        display: block;
        background: #fff;
    }
    .header-area {
        display: none;
    }
    
    .menu-trigger {
        display: inline-block;
        padding: 30px 0;
        cursor: pointer;
    }
    .logo.mobile-logo a {
        padding: 15px 0px;
    }
    
    .section-padding {
        padding: 70px 0;
    }
    .service-area.section-padding {
        padding: 20px 0;
    }
    .single-service-area h3 {
        font-size: 17px;
        font-weight: 400;
        line-height: 30px;
    }
    .single-service-area {
        margin: 50px 0;
    }
    .certificate-item-inner {
        height: 400px;
    }
    .p-100 {
        padding-bottom: 80px;
    }
    .certificate-carousel {
        padding-bottom: 0;
        padding-top: 0;
    }
    #googleMap3 {
        height: 400px;
    }
    .footer-area {
        text-align: center;
        padding: 40px 0;
    }
    .social-icon {
        margin-top: 30px;
        padding: 0 20px;
    }
    .social-icon a {
        margin-left: 7.5px;
        margin-right: 7.5px;
    }
    .social-icon a:nth-child(4n) {
        margin-right: 7.5px;
    }
    .logo.logo-footer {
        margin-bottom: 10px;
    }
    .product-range-area {
        padding: 70px 0 70px;
    }
    .owl-carousel .owl-stage-outer {
        padding-top: 0;
        padding-bottom: 0;
    }
    .single-slide-row-inner {
        display: block;
    }
    .single-slide-row-inner .text-right {
        text-align: center;
        margin-bottom: 25px;
    }
    .buy-btn {
        display: none;
    }
    .slick-prev.slick-arrow, .slick-next.slick-arrow {
        right: auto;
        left: 50%;
        margin-left: -50px;
    }
    .single-slide-row {
        display: block !important;
        margin: 2px auto;
    }
    .homepage-inner-tablecell {
        font-size: 20px;
        padding-top: 0;
    }
    .hex-3 {
        width: 50%;
    }
    .product-range-area h3 {
        margin-bottom: 30px;
    }
    #animatedHeading {
        display: none;
    }
    #animatedHeadingMobile {
        display: block;
    }
    .slick-center .row{
        display: block;
    }
    .hero__title-mobile .hero-image-text {
        bottom: 14%;
        font-size: 13px;
        display: none;
    }
    .hero__title-mobile .slick-slide.slick-center .hero-image-text {
        display: block;
    }
    .homepage-slides-1 .container{
        padding: 0;
    }
    .hero__title-mobile .slick-slide.slick-center .hex-3 {
        width: 80%;
        transition: .3s;
        margin: 0 auto;
    }
    .hero__title-mobile .slick-slide .col-md-6.text-center {
        text-align: right;
        height: 300px;
        display: flex;
        align-items: center;
    }
    .hero__title-mobile .slick-slide.slick-center .col-md-6.text-center {
        text-align: center;
    }
    .hero__title-mobile .slick-slide.prev .col-md-6.text-center {
        text-align: right;
    }
    .hero__title-mobile .slick-slide.next .col-md-6.text-center {
        text-align: left;
    }
    .hero__title-mobile .hero-image {
        position: relative;
        margin: 0 auto;
    }
}

/* Wide Mobile Layout(Nexus 7): 600px. */
@media only screen and (min-width: 501px) and (max-width: 610px) {
    .certificate-item-inner {
        height: 360px;
    }
}

/* Wide Mobile Layout: 480px. */
@media only screen and (max-width: 500px) {

}

/* Mobile Layout(Samsung Galaxy S5): 360px. */
@media only screen and (max-width: 370px) {

}

/* Mobile Layout(iPhone 4): 320px. */
@media only screen and (max-width: 330px) {


}